version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    networks:
      - backend
    volumes:
      - /var/lib/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PGDATA=/var/lib/postgresql/data

  telegram_bot:
    image:  ghcr.io/fstream7/fumofumo_plush_bot:main
    restart: always
    volumes:
      - media:/app/media:rw
    networks:
      - backend
    depends_on:
      - db
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - ADMIN_CHAT_ID=${ADMIN_CHAT_ID}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - HASH_SALT=${HASH_SALT:-salt}
      - TIMEZONE=${TIMEZONE:-UTC}
      - DATABASE_URI=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT:-5432}/${POSTGRES_DB}

networks:
  backend:

volumes:
    media: