version: '3.8'

services:

  telegram_bot:
    build:
      context: .
    restart: always
    volumes:
      - ./app:/app
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - ADMIN_CHAT_ID=${ADMIN_CHAT_ID}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - HASH_SALT=${HASH_SALT:-salt}
      - TIMEZONE=${TIMEZONE:-UTC}
      - QUIZ_CHAT_ID=${QUIZ_CHAT_ID}
